body{
    font-family: 'Dosis', sans-serif;
}

header{
    background-color: #e6e6ff;
    color: #444444;
    padding-bottom: 100px;
}

.menu i{
    font-size: 22px;
    padding-top: 15px;
    padding-left: 10px;
}

.menu p{
    position: relative;
    display: inline-block;
    padding-right: 10px;
    font-weight: bold;
    font-size: 16px;
}

.menu p:before{
    content: '';
    position: absolute;
    left: 43%;
    bottom: -5px;
    display: inline-block;
    width: 25px;
    height: 2px;
    -moz-transform:translateX(-50%);
    -webkit-transform:translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translate(-50%);
    background-color: #444444; 
}

.menu{
    display: flex;
    justify-content: space-between;
}

.bubble{
    text-align: center;
    padding-top: 80px;
    font-size: 42px;
    font-weight: bold;
    letter-spacing: 0.4em;
    -webkit-text-stroke-width:3px;
    -webkit-background-clip:text;
    color: transparent;
    background-image: linear-gradient(red,blue,pink);
}

.butt{
    padding-top: 80px;
    text-align: center;
}

.butt h4{
    position: relative;
    display: inline-block;
    font-size: 16px;
}

.butt h4:before{
    content: '';
    position: absolute;
    left: 49%;
    bottom: -5px;
    display: inline-block;
    width: 40px;
    height: 2px;
    -moz-transform:translateX(-50%);
    -webkit-transform:translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translate(-50%);
    background-color: #444444; 
}

.contents1{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px,1fr));
    grid-gap: 0.3em;
    margin-top: 40px; 
    font-family: 'Varela Round', sans-serif;
}

.box{
    background-color: #ddd;
    border: 1px solid #ddd;
    max-width: 280px;
    height: px;
    padding: px;
    margin: 0 auto;
    text-align: center;
}


img{
    max-width: 100%;
    width: 280px;
    height:auto;
}

img:hover{
    cursor: pointer;
    opacity: 0.6;
    transition: 0.3s;
}



.email{
    padding-top: 90px;
    text-align: center;
    padding-bottom: 40px;
}

.email h4{
    position: relative;
    display: inline-block;
    font-size: 16px;
}

.email h4:before{
    content: '';
    position: absolute;
    left: 49%;
    bottom: -5px;
    display: inline-block;
    width: 27px;
    height: 2px;
    -moz-transform:translateX(-50%);
    -webkit-transform:translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translate(-50%);
    background-color: #444444; 
}

.email p{
    font-size: 18px;
    box-shadow: 0px 0px 3px 3px rgb(0, 0, 102);
    padding: 0.5em;
    width: 180px;
    margin: 0 auto;
}

.email p:hover{
    box-shadow: 0px 0px 0px 3px rgb(0, 0, 102);
}

.email i{
    color: #b3b3ff;
    padding-right: 7px;
}


footer{
    margin-top: 60px;
    background-image: linear-gradient(-225deg,#ffccff,#e6e6ff,#99ccff,#ffb3ff);
text-align: center;
}

footer p{
    padding-top: 70px;
    padding-bottom: 20px;
    font-family: 'Mukta', sans-serif;
}

